*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e7ecfc;
    font-family: "Space Mono";
    padding-bottom: 50px;
}

.container{
    max-width: 730px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.info_center{
    background-color: #eaedf7;
}

.search-container form{
    max-width: 768px;
    background-color: white;
}
form input{
    font-size: 13px;
    width: 200px;
}